Repository ArduPilot/ardupilot_wiki, pull requests merged in 2019-09, with the labels that each got.

#1947 fix copter wiki build errors
  common/source/docs/common-mission-planning.rst
  common/source/docs/common-terrain-following.rst
  common/source/docs/common-transmitter-tuning.rst
  copter/source/docs/failsafe-battery.rst
  copter/source/docs/flight-modes.rst
  copter/source/docs/quick-start-guide.rst
  copter/source/docs/terrain-following.rst
  copter/source/index.rst
Labels: copter-wiki

#1939 Dev: Fix DroneKit URL
  dev/source/docs/learning-the-ardupilot-codebase.rst
Labels: dev-wiki

#1930 Dev: Cygwin instalation tip
  dev/source/docs/sitl-native-on-windows.rst
Labels: dev-wiki

#1949 fix wiki build errors/links on tricopter page
  copter/source/docs/tricopter.rst
Labels: copter-wiki

#1950 Fix SportMode wiki build errors
  copter/source/docs/sport-mode.rst
Labels: copter-wiki

#1951 Fix Loiter Mode page wiki build errors
  copter/source/docs/loiter-mode.rst
Labels: copter-wiki

#1952 fix landing gear wiki build errors
  copter/source/docs/landing-gear.rst
Labels: copter-wiki

#1953 correct copter wiki build error on smart rtl page
  copter/source/docs/smartrtl-mode.rst
Labels: copter-wiki

#1955 fix rover wiki build error
  rover/source/docs/arming-your-rover.rst
Labels: rover-wiki

#1956 Fix Rover wiki build errors
  common/source/docs/common-training-centers.rst
  rover/source/docs/rover-tuning-pivot-turns.rst
Labels: rover-wiki

#1957 fix rover wiki build error
  rover/source/docs/rover-px4-quickstart.rst
Labels: rover-wiki

#1963 fix wiki build errors:speed-turn-gain
  rover/source/docs/rover-tuning-navigation.rst
  rover/source/docs/speed-turn-parameter-tuning.rst
  rover/source/docs/steering-mode.rst
Labels: rover-wiki

#1964 fix rover wiki learn_ch build error
  common/source/docs/common-rcmap.rst
Labels: rover-wiki

#1946 Add CUAV V5 to discontinued list,resolving build error
  common/source/docs/common-autopilots.rst
Labels: common-wiki

#1961 fix some dev wiki build errors
  common/source/docs/common-appendix.rst
  common/source/docs/common-diagnosing-problems-using-logs.rst
  common/source/docs/common-downloading-and-analyzing-data-logs-in-mission-planner.rst
  common/source/docs/common-imu-batchsampling.rst
  common/source/docs/common-logs.rst
  common/source/docs/common-mission-planner-telemetry-logs.rst
  common/source/docs/common-training-centers.rst
  dev/source/docs/debugging.rst
Labels: dev-wiki

#1976 Minimal build warning fix
  common/source/docs/common-cuav-c-rtk-9p-gps.rst
Labels: common-wiki

#1974 fix wiki build error in DEV
  dev/source/docs/ros-cartographer-slam.rst
  dev/source/docs/ros-slam.rst
Labels: dev-wiki

#1979 Major update to SERVOx_FUNCTION page
  common/source/docs/common-rcoutput-mapping.rst
Labels: common-wiki

#1991 Planner wiki build fixes
  common/source/docs/common-camera-trigger-seagull-ir.rst
  common/source/docs/common-camera-trigger-seagull-map2.rst
  common/source/docs/common-camera-trigger-seagull-mapx2.rst
  common/source/docs/common-camera-trigger-seagull-rec.rst
  common/source/docs/common-geotagging-airpixel-entire.rst
Labels: planner-wiki

#1992 Planner final wiki build fixes
  common/source/docs/common-appendix.rst
  common/source/docs/common-geotagging-drotagx.rst
  planner/source/index.rst
Labels: planner-wiki

#1881 Dev: add documentation of sitl with scrimmage
  dev/source/docs/simulation-2.rst
  dev/source/docs/sitl-with-scrimmage.rst
Labels: dev-wiki

#1967 Fix #962 images,minor corrections, rebase
  common/source/docs/common-frsky-repurposed.rst
  images/LuaPilot-Logo.jpg
  images/LuaPilot.jpg
Labels: common-wiki

#1968 Add YAAPU LUA script info to FrSky Telem
  common/source/docs/common-frsky-passthrough.rst
  common/source/docs/common-frsky-telemetry.rst
  common/source/docs/common-frsky-yaapu.rst
  common/source/docs/common-telemetry-landingpage.rst
  images/x10.png
  images/x7.png
  images/x9d.png
Labels: common-wiki

#1984 Add mention of Qplane in booster motor page
  copter/source/docs/booster-motor.rst
Labels: common-wiki

#1983 added a page on Vicon setup for copters
  common/source/docs/common-use-cases-and-applications.rst
  copter/source/docs/vicon-setup.rst
Labels: copter-wiki, dev-wiki

#1987 Fix wiki build errors in DEV
  common/source/docs/common-mavlink-mission-command-messages-mav_cmd.rst
  dev/source/docs/mavlink-commands.rst
  dev/source/docs/the-ardupilot-autotest-framework.rst
Labels: dev-wiki

#1986 Planner wiki build fixes
  common/source/docs/common-archived-topics.rst
  common/source/docs/common-imu-batchsampling.rst
  common/source/docs/common-logs.rst
  planner/source/docs/mission-planner-features.rst
  planner/source/docs/mission-planner-flight-data.rst
Labels: planner-wiki

#1989 Add simple overview of operation before mandatory setup
  common/source/docs/common-basic-operation.rst
  copter/source/docs/configuring-hardware.rst
  images/block-diagram.jpg
  plane/source/docs/first-time-apm-setup.rst
  rover/source/docs/rover-code-configuration.rst
Labels: common-wiki

#1999 Note for HeliQuad
  copter/source/docs/heliquads.rst
Labels: copter-wiki

#2001 Non-GPS pages re-arrange.
  common/source/docs/common-advanced-configuration.rst
  common/source/docs/common-non-gps-navigation-landing-page.rst
  common/source/docs/common-optional-hardware.rst
  common/source/docs/common-use-cases-and-applications.rst
  common/source/docs/common-vicon-for-nongps-navigation.rst
  copter/source/docs/ac2_guidedmode.rst
Labels: common-wiki

#2007 Expand explanations of ACRO and STEERING modes
  rover/source/docs/acro-mode.rst
  rover/source/docs/steering-mode.rst
Labels: rover-wiki

#2012 Rover: expand follow mode details
  rover/source/docs/follow-mode.rst
  rover/source/images/Follow1.jpg
  rover/source/images/Follow2.jpg
Labels: rover-wiki

#2011 Rover: adding Vac-U-Tug reference build
  rover/source/docs/reference-frames-vacutug.rst
  rover/source/docs/reference-frames.rst
  rover/source/images/1060esc.jpg
  rover/source/images/vacutug-pilothouse.jpg
  rover/source/images/vacutug-tray.jpg
  rover/source/images/vacutug-upperdeck.jpg
  rover/source/images/vacutug.jpg
Labels: rover-wiki

#2016 Fix spelling of "telemetry"
  common/source/docs/common-f4by.rst
Labels: common-wiki

#2021 Fix build warning
  common/source/docs/common-vio-tracking-camera.rst
  dev/source/docs/ros-vio-tracking-camera.rst
Labels: common-wiki, dev-wiki

#2022 Rover: add details to rover modes, re speed and completion
  rover/source/docs/auto-mode.rst
  rover/source/docs/guided-mode.rst
  rover/source/docs/loiter-mode.rst
  rover/source/docs/rtl-mode.rst
  rover/source/docs/smartrtl-mode.rst
Labels: rover-wiki

#1933 Wiki update for vectored thrust tailsitters
  plane/source/docs/guide-tailsitter.rst
Labels: plane-wiki

#2003 Add ornithopter page to plane configurations
  plane/source/docs/ornithopter.rst
  plane/source/docs/plane-configuration-landing-page.rst
Labels: plane-wiki

#2004 Change plane motor tool page to drivecalc instead of ecalc
  common/source/docs/common-optional-hardware.rst
  plane/source/docs/a-high-quality-bixler-1-1-build.rst
  plane/source/docs/drivecalculator-guide.rst
  plane/source/docs/ecalc-motor-and-prop-efficiency-guide.rst
  plane/source/images/drivecalc.jpg
Labels: plane-wiki

#2005 Update link in Sik radio page
  common/source/docs/common-sik-telemetry-radio.rst
Labels: common-wiki

#2013 Add detail to ICE page
  common/source/docs/common-ice.rst
  common/source/docs/common-rcoutput-mapping.rst
Labels: common-wiki

#2009 Add information about setting up non-spring throttle in Rover
  common/source/docs/common-radio-control-calibration.rst
Labels: common-wiki

#2036 Rover: add Simple mode description
  rover/source/docs/rover-control-modes.rst
  rover/source/docs/simple-mode.rst
  rover/source/images/NormalControls.jpg
  rover/source/images/SimpleModeControls.jpg
Labels: DelayMerge, rover-wiki
