Repository ArduPilot/ardupilot_wiki, pull requests merged in 2019-07, with the labels that each got.

#1406 [WIP] Fix broken links to Zed stereo camera
  common/source/docs/common-zed.rst
  dev/source/docs/apsync-intro.rst
Labels: WIP

#1794 [add page] Triducer page
  common/source/docs/common-rangefinder-landingpage.rst
  common/source/docs/common-underwater-sonar-analog.rst
  common/source/docs/common-underwater-sonars-landingpage.rst
  common/source/docs/common-underwater-triducer.rst
  images/pixhawk_triducer.jpeg
Labels: WIP

#1850 Copter: update tuning page
  copter/source/docs/tuning-process-instructions.rst
  copter/source/images/tuning-process-instructions-1.hires.png
  copter/source/images/tuning-process-instructions-2.hires.png
  copter/source/images/tuning-process-instructions-3.hires.png
  copter/source/images/tuning-process-instructions-4.hires.png
Labels: Reviewed, copter-wiki

#1856 Dev: Add more Lua docs
  dev/source/docs/lua-scripts.rst
Labels: dev-wiki
