Repository ArduPilot/ardupilot_wiki, pull requests merged in 2019-10, with the labels that each got.

#2043 Rover: update follow mode description
  rover/source/docs/follow-mode.rst
  rover/source/images/FollowMode-Relative.jpg
  rover/source/images/FollowMode.jpg
Labels: rover-wiki

#2046 plane: updated inverted flight docs
  plane/source/docs/inverted-flight.rst
Labels: plane-wiki

#2042 Update common-hereflow.rst
  common/source/docs/common-hereflow.rst
Labels: common-wiki, docs

#2030 Update extended-kalman-filter.rst
  dev/source/docs/extended-kalman-filter.rst
Labels: dev-wiki

#2037 Dev: Added clarification around BRD_RTC_TYPES
  dev/source/docs/ros-timesync.rst
Labels: dev-wiki

#2048 common-dshot.rst: page rework
  common/source/docs/common-dshot.rst
Labels: common-wiki

#2052 Rover Follow mode: update for offset reset upon mode entry
  rover/source/docs/follow-mode.rst
Labels: DelayMerge, rover-wiki

#2051 Rover: Add save trim page
  rover/source/docs/rover-first-drive.rst
  rover/source/docs/savetrim.rst
Labels: DelayMerge, rover-wiki

#2053 Rover: add FS_OPTIONS param on approriate pages
  rover/source/docs/hold-mode.rst
  rover/source/docs/rover-failsafes.rst
Labels: DelayMerge, rover-wiki

#2039 Link is dead, hence removed.
  dev/source/docs/odroid-via-mavlink.rst
Labels: common-wiki

#2059 update mode enumeration source file name
  dev/source/docs/apmcopter-adding-a-new-flight-mode.rst
Labels: copter-wiki, dev-wiki

#2061 Rover:update SmartRTL page
  rover/source/docs/smartrtl-mode.rst
Labels: rover-wiki

#2068 Add detail to RCPassThru function
  common/source/docs/common-rcoutput-mapping.rst
Labels: common-wiki

#2088 Common Compass: add info on COMPASS_LEARN feature
  common/source/docs/common-compass-calibration-in-mission-planner.rst
  common/source/docs/common-compass-setup-advanced.rst
Labels: common-wiki

#2104 Plane: clean up spelling and expand/clarify language on diffspoilers
  plane/source/docs/differential-spoilers.rst
Labels: plane-wiki

#2105 fix/remove broken links in RTF page
  common/source/docs/common-rtf.rst
Labels: common-wiki

#2103 Common: Add unified updated landing gear page
  common/source/docs/common-archived-topics.rst
  common/source/docs/common-landing-gear.rst
  common/source/docs/common-optional-hardware.rst
  copter/source/docs/landing-gear.rst
  images/LandingGear_HobbyKing.jpg
Labels: common-wiki

#2114 Copter: Refactor prearm to a common page, and update for 4.0
  common/source/docs/common-prearm-safety-checks.rst
  copter/source/docs/ac2_simple_geofence.rst
  copter/source/docs/arming_the_motors.rst
  copter/source/docs/connect-escs-and-motors.rst
  copter/source/docs/flying-arducopter.rst
  rover/source/docs/arming-your-rover.rst
Labels: copter-wiki

#2074 Update KakuteF4 board description
  common/source/docs/common-holybro-kakutef4.rst
  images/kakutef4_top.jpg
Labels: common-wiki

#2075 Add dshot info to MatekF405 board
  common/source/docs/common-matekf405.rst
Labels: common-wiki

#2076 Add dshot info to OmnibusF7V2 board
  common/source/docs/common-omnibusf7.rst
Labels: common-wiki

#2099 Plane: add Quadplane transition failure timer info, clean up page a bit
  plane/source/docs/quadplane-flying.rst
Labels: plane-wiki

#2078 Add dshot and logging info to OmnibusNanoV6 board
  common/source/docs/common-omnibusnanov6.rst
Labels: common-wiki

#2066 Combine schools and training into one page
  common/source/docs/common-training-centers.rst
  dev/source/docs/schools.rst
  dev/source/index.rst
Labels: common-wiki

#1892 fix wiki build error
  plane/source/docs/automatic-landing.rst
Labels: DelayMerge, plane-wiki

#1894 Wiki build error fix: rangefinder labels
  common/source/docs/common-benewake-tf02-lidar.rst
  common/source/docs/common-benewake-tfmini-lidar.rst
  common/source/docs/common-echologger-ect400.rst
  common/source/docs/common-leddar-one-lidar.rst
  common/source/docs/common-lightware-lw20-lidar.rst
  common/source/docs/common-lightware-sf10-lidar.rst
  common/source/docs/common-rangefinder-sf02.rst
  common/source/docs/common-sensor-offset-compensation.rst
  common/source/docs/common-underwater-sonar-analog.rst
  common/source/docs/common-vl53l0x-lidar.rst
  common/source/docs/common-wasp200-lidar.rst
Labels: DelayMerge, common-wiki

#1954 fix copter wiki build errors (rngfndr)
  common/source/docs/common-rangefinder-objectavoidance.rst
  copter/source/docs/terrain-following.rst
Labels: DelayMerge, common-wiki, copter-wiki

#1958 fix rangefinder wiki build errors
  rover/source/docs/rover-object-avoidance.rst
  rover/source/docs/sonar-sensors.rst
Labels: DelayMerge, rover-wiki

#2118 Plane: add use of common-prearm-safety-checks file
  plane/source/docs/arming-your-plane.rst
  plane/source/docs/first-flight-landing-page.rst
Labels: plane-wiki

#2115 Add new logging errors for 4.0 releases
  common/source/docs/common-diagnosing-problems-using-logs.rst
  common/source/docs/common-downloading-and-analyzing-data-logs-in-mission-planner.rst
Labels: common-wiki

#2106 Plane: add info on TAKEOFF flight mode
  plane/source/docs/automatic-takeoff.rst
  plane/source/docs/takeoff-mode.rst
Labels: plane-wiki

#2073 Update git-rebase instruction on pushing to origin
  dev/source/docs/git-rebase.rst
Labels: dev-wiki

#2117 Copter: add vibration failsafe page
  copter/source/docs/failsafe-landing-page.rst
  copter/source/docs/vibration-failsafe.rst
Labels: copter-wiki

#2056 Plane: add page on automatic trimming
  plane/source/docs/auto-trim.rst
  plane/source/docs/plane-configuration-landing-page.rst
Labels: plane-wiki

#2087 Quadplane: add Q_OPTIONS bits explanation
  plane/source/docs/quadplane-parameters.rst
Labels: plane-wiki

#2090 Serial options
  common/source/docs/common-advanced-configuration.rst
  common/source/docs/common-serial-options.rst
Labels: common-wiki

#2100 QPlane modes:add/expand on hover learn and recent changes
  plane/source/docs/qacro-mode.rst
  plane/source/docs/qhover-mode.rst
  plane/source/docs/qloiter-mode.rst
  plane/source/docs/qstabilize-mode.rst
Labels: plane-wiki

#2112 Common LED: update for 4.0 releases
  common/source/docs/common-external-leds.rst
  common/source/docs/common-leds-pixhawk.rst
Labels: common-wiki

#2126 Update compass learn to warn against using old settings
  common/source/docs/common-compass-setup-advanced.rst
Labels: common-wiki

#2150 Change Copter3.7 ref to Copter4.0
  common/source/docs/common-baro-external.rst
  common/source/docs/common-hereflow.rst
  common/source/docs/common-kde-can-escs.rst
  common/source/docs/common-openmv-optflow.rst
  common/source/docs/common-serial-passthrough.rst
  common/source/docs/common-servo-robotis.rst
  common/source/docs/common-toshiba-can-escs.rst
  common/source/docs/common-vl53l0x-lidar.rst
  copter/source/docs/zigzag-mode.rst
  dev/source/docs/lua-scripts.rst
  dev/source/docs/mavlink-basics.rst
  dev/source/docs/sitl-native-on-windows.rst
Labels: common-wiki, copter-wiki

#2151 Update RC receiver information to include IBUS and other expansions
  common/source/docs/common-pixhawk-and-px4-compatible-rc-transmitter-and-receiver-systems.rst
  common/source/docs/common-pixhawk-wiring-and-quick-start.rst
Labels: common-wiki

#2152 Add LUA scripting as common advance config feature
  common/source/docs/common-advanced-configuration.rst
  common/source/docs/common-lua-scripts.rst
  dev/source/index.rst
Labels: common-wiki

#2168 Add boat and bicopter images/video to all vehicle page
  common/source/docs/common-all-vehicle-types.rst
  images/vacutug.jpg
Labels: common-wiki
