Repository ArduPilot/ardupilot_wiki, pull requests merged in 2019-12, with the labels that each got.

#2291 Add SYSTEM ID mode information
  copter/source/docs/flight-modes.rst
  copter/source/docs/systemid-mode-operation.rst
  copter/source/docs/systemid-mode.rst
  copter/source/images/chirp.jpg
Labels: copter-wiki

#2256 Plane: add crash detection advance configuration
  common/source/docs/common-advanced-configuration.rst
  plane/source/docs/crash-detect.rst
Labels: plane-wiki

#2273 Update UAVCAN docs, add Adapter Node and refs to AP_Periph firmware
  common/source/docs/common-optional-hardware.rst
  common/source/docs/common-uavcan-adapter-node.rst
  common/source/docs/common-uavcan-escs.rst
  common/source/docs/common-uavcan-setup-advanced.rst
  images/mRo-can-node.jpg
  images/uavcan-node-gps.jpg
  images/uavcan-node.jpg
Labels: common-wiki

#2215 Add MatekF765-Wing doc
  common/source/docs/common-autopilots.rst
  common/source/docs/common-matekf765-wing.rst
  images/matekf765-wing.jpg
Labels: common-wiki

#2227 Add RC Option note to ADSB page
  common/source/docs/common-ads-b-receiver.rst
Labels: common-wiki

#2280 Expand Copter and Rover failsafes
  copter/source/docs/failsafe-landing-page.rst
  copter/source/docs/gcs-failsafe.rst
  copter/source/docs/radio-failsafe.rst
  rover/source/docs/rover-failsafes.rst
Labels: copter-wiki, rover-wiki

#2327 Add page on using multiple RC receivers
  common/source/docs/common-multiple-rx.rst
  common/source/docs/common-optional-hardware.rst
Labels: common-wiki

#2305 Add note about using UARTs for RCIN
  common/source/docs/common-flight-controller-wiring.rst
Labels: common-wiki

#2314 Add warning about output grouping effects on RGB LEDS string communic…
  common/source/docs/common-external-leds.rst
Labels: common-wiki

#2317 Compass Calibration: Clarify Retrying in MP
  common/source/docs/common-compass-calibration-in-mission-planner.rst
Labels: common-wiki

#2322 Add page on using only GCS for vehicle control
  common/source/docs/common-advanced-configuration.rst
  common/source/docs/common-gcs-only-operation.rst
  images/mission-start.png
Labels: common-wiki

#2303 Add battery sag warning to Qplane transition section
  common/source/docs/common-advanced-configuration.rst
  plane/source/docs/batt-watt-max.rst
  plane/source/docs/quadplane-flying.rst
Labels: plane-wiki

#2254 Update Plane failsafes page
  plane/source/docs/apms-failsafe-function.rst
Labels: plane-wiki

#2350 fix refs, spelling, and grammar
  rover/source/docs/balance_bot-testing.rst
Labels: rover-wiki

#2353 Update cam trigger page
  common/source/docs/common-pixhawk-camera-trigger-setup.rst
Labels: common-wiki

#2351 Update wheel encoder testing
  rover/source/docs/wheel-encoder.rst
  rover/source/images/Mavlink-Inspector.jpg
Labels: rover-wiki

#2299 Update LUA scripting page with current bindings and some examples
  common/source/docs/common-lua-scripts.rst
Labels: common-wiki

#2373 Add troubleshooting section for composite port problems in MP
  common/source/docs/common-connect-mission-planner-autopilot.rst
  images/composite-driver.png
  images/devicemanager.png
Labels: common-wiki, planner-wiki
