Repository ArduPilot/ardupilot_wiki, pull requests merged in 2019-08, with the labels that each got.

#1911 Dev: Add more Lua docs
  dev/source/docs/lua-scripts.rst
Labels: dev-wiki

#1919 dev: fix type of lua vector3f
  dev/source/docs/lua-scripts.rst
Labels: dev-wiki

#1922 COMMON-RPM-SENSOR: Updated link to debug tool.
  common/source/docs/common-rpm.rst
Labels: common-wiki

#1905 Fix broken parameter reference
  common/source/docs/common-erle-brain2-wiring-quick-start.rst
  images/Erle-Brain_DongleWifi.jpg
  images/ErleBrain3_Power_ESC.png
Labels: common-wiki

#1925 Copter: Fix build warning (title mark)
  copter/source/docs/traditional-helicopter-connecting-apm.rst
Labels: copter-wiki

#1926 Copter: Fix build warning (parameters)
  copter/source/docs/failsafe-battery.rst
Labels: copter-wiki

#1927 Copter: Fix build warning (parameters)
  copter/source/docs/indoor-flying.rst
Labels: copter-wiki

#1931 Rover: quick fix: Title is to short
  rover/source/docs/wind-vane-MD-rev-p.rst
Labels: rover-wiki

#1885 Add XBStation Turnkey Companion Computer Solutions
  dev/source/docs/turnkey-companion-computer-solutions.rst
Labels: DevCallTopic, dev-wiki

#1938 Bixler Update and combine of #970 and #991
  plane/source/docs/a-high-quality-bixler-1-1-build.rst
  plane/source/images/Bixler-build-1.jpg
  plane/source/images/Bixler-build-11.jpg
  plane/source/images/Bixler-build-12.jpg
  plane/source/images/Bixler-build-3.jpg
  plane/source/images/Bixler-build-4.jpg
  plane/source/images/Bixler-build-6.jpg
  plane/source/images/Bixler-build-7.jpg
  plane/source/images/Bixler-build-8.jpg
  plane/source/images/Bixler-build-9.jpg
  plane/source/images/Bixler_1.1.jpg
  plane/source/images/Bixler_build_2.jpg
Labels: plane-wiki

#1867 added caution about radio cal redo
  plane/source/docs/apms-failsafe-function.rst
Labels: plane-wiki

#1928 Copter: Fix build warning (parameters)
  copter/source/docs/solo_arducopter_upgrade.rst
Labels: copter-wiki

#1936 Add Aux Functions page to Plane
  common/source/docs/common-advanced-configuration.rst
  plane/source/docs/plane-auxiliary-functions.rst
  plane/source/images/plane-aux-switch-check.png
Labels: plane-wiki

#1934 Update/expand buzzer page
  common/source/docs/common-buzzer.rst
  images/buzzer.jpg
Labels: common-wiki

#1935 Update Relay Switch page for other controllers and vehicles
  common/source/docs/common-relay.rst
Labels: common-wiki

#1940 Update FPV page
  common/source/docs/common-fpv-first-person-view.rst
Labels: common-wiki

#1937 Rover: Duplicated ref and small tip
  rover/source/docs/balance_bot-home.rst
  rover/source/docs/balance_bot-testing.rst
Labels: rover-wiki

#1895 wiki build error corrections
  common/source/docs/common-gripper-servo.rst
  common/source/docs/common-pxfmini-wiring-quick-start.rst
  common/source/docs/common-rcoutput-mapping.rst
  common/source/docs/common-simplebgc-gimbal.rst
Labels: common-wiki
