Repository ArduPilot/ardupilot_wiki, pull requests merged in 2019-11, with the labels that each got.

#2138 Tradheli-Add swashplate setup wiki
  copter/source/docs/traditional-helicopter-swashplate-setup.rst
  copter/source/docs/traditional-helicopters.rst
  copter/source/images/TradHeli_Swashplate_H3-120.png
  copter/source/images/TradHeli_Swashplate_H3-140.png
  copter/source/images/TradHeli_Swashplate_H3R-120.png
  copter/source/images/TradHeli_Swashplate_H3R-140.png
  copter/source/images/TradHeli_Swashplate_H4-45.png
  copter/source/images/TradHeli_Swashplate_H4-90.png
  copter/source/images/TradHeli_linear_servo_setup.png
  copter/source/images/TradHeli_swash_leveling.png
  copter/source/images/TradHeli_swashplate_setup.png
Labels: copter-wiki

#2181 Add virtual flybar to ACRO mode
  copter/source/docs/acro-mode.rst
Labels: copter-wiki

#2182 Add fuel flow and level sensor page
  common/source/docs/common-fuel-sensors.rst
  common/source/docs/common-optional-hardware.rst
  images/fuel-level-sensor.jpg
  images/fuelflow-sensor.jpg
  images/gpio.png
Labels: common-wiki

#2102 Copter: Failsafe refactor and FS_OPTIONS parameter documentation
  copter/source/docs/failsafe-battery.rst
  copter/source/docs/gcs-failsafe.rst
  copter/source/docs/radio-failsafe.rst
Labels: copter-wiki

#2187 Add Bicopter frame to Copter;update RC output mapping
  common/source/docs/common-rcoutput-mapping.rst
  copter/source/docs/connect-escs-and-motors.rst
  copter/source/docs/frame-type-configuration.rst
  copter/source/images/motororder-bicopter.png
Labels: copter-wiki

#2176 Plane: add QAUTOTUNE mode
  plane/source/docs/qautotune-mode.rst
  plane/source/docs/quadplane-flight-modes.rst
Labels: plane-wiki

#2170 Plane: Update AFS with MAX_RANGE param, correct wrong param names, format edits
  common/source/docs/common-advanced-configuration.rst
  plane/source/docs/advanced-failsafe-configuration.rst
Labels: plane-wiki

#2177 Plane: expand/update reverse thrust info, add capability for digital escs
  common/source/docs/common-dshot.rst
  plane/source/docs/automatic-landing.rst
  plane/source/docs/guide-esc-calibration.rst
  plane/source/images/reversing.jpg
Labels: plane-wiki

#2172 Plane: Update Airspeed sensor pages...add type,use params
  plane/source/docs/airspeed.rst
  plane/source/docs/calibrating-an-airspeed-sensor.rst
Labels: plane-wiki

#2189 Expand tailsitter info in qplane frame and tailsitter docs
  plane/source/docs/guide-tailsitter.rst
  plane/source/docs/quadplane-frame-setup.rst
Labels: plane-wiki

#2072 Documentation on configuring the static notch and dynamic harmonic notch
  common/source/docs/common-advanced-configuration.rst
  common/source/docs/common-dshot.rst
  common/source/docs/common-imu-notch-filtering.rst
  common/source/docs/common-tuning.rst
  copter/source/docs/flying-arducopter.rst
  copter/source/docs/tuning.rst
  images/imu-batchsampling-fft-mp3.png
  images/post-tune-fft.png
  images/pre-tune-fft.png
Labels: copter-wiki

#2178 Added SPL telemetry and re-organized telem landing page
  common/source/docs/common-telemetry-landingpage.rst
  common/source/docs/common-uavcast-telemetry.rst
Labels: common-wiki

#2154 added note to DO_SET_SERVO
  common/source/docs/common-mavlink-mission-command-messages-mav_cmd.rst
Labels: common-wiki

#2153 add orientation warning to acc calibration page
  common/source/docs/common-accelerometer-calibration.rst
  common/source/docs/common-mounting-the-flight-controller.rst
Labels: common-wiki

#2149 Copter: 4.0 updates...part 1
  common/source/docs/common-advanced-configuration.rst
  common/source/docs/common-powermodule-landingpage.rst
  common/source/docs/common-watchdog.rst
  copter/source/docs/failsafe-landing-page.rst
Labels: common-wiki, copter-wiki

#2145 Expand information on selecting flight controller
  common/source/docs/common-choosing-a-flight-controller.rst
Labels: common-wiki

#2204 Expand IWDG and add to failsafe pages
  common/source/docs/common-watchdog.rst
  copter/source/docs/failsafe-landing-page.rst
  images/watchdog.png
  plane/source/docs/apms-failsafe-function.rst
  rover/source/docs/rover-failsafes.rst
Labels: common-wiki

#2206 Clairify outputs used for singlecopter/coax
  copter/source/docs/singlecopter-and-coaxcopter.rst
Labels: copter-wiki

#2208 Update guide-tailsitter.rst for Plane 4.0
  plane/source/docs/guide-tailsitter.rst
Labels: WIP

#2212 Add info on I2C vs UART to Benewake TFmini/Plus
  common/source/docs/common-benewake-tfmini-lidar.rst
Labels: common-wiki

#2213 Add auto orientation and metal warning to compass cal page
  common/source/docs/common-compass-calibration-in-mission-planner.rst
Labels: copter-wiki

#2229 Add Aerotenna US-D1 radar altimeter page to rangefinders
  common/source/docs/common-aerotenna-usd1.rst
  common/source/docs/common-rangefinder-landingpage.rst
  images/aerotenna-usd1.png
Labels: common-wiki

#2232 COPTER: update log CTUN description
  common/source/docs/common-downloading-and-analyzing-data-logs-in-mission-planner.rst
Labels: common-wiki

#2243 Update tailsitter with Copter style configurations
  plane/source/docs/guide-tailsitter.rst
Labels: plane-wiki

#2147 Plane: Re-organized setup like Copter...archived a few unused pages
  common/source/docs/common-archived-topics.rst
  plane/source/docs/arduplane-setup.rst
  plane/source/docs/assembly-instructions.rst
  plane/source/docs/first-flight-landing-page.rst
  plane/source/docs/first-time-apm-setup.rst
  plane/source/docs/plane-3-7-to-3-8-migration.rst
  plane/source/docs/plane-configuration-landing-page.rst
  plane/source/docs/rc-throw-trim.rst
  plane/source/docs/reversing-servos-and-setting-normalelevon-mode.rst
  plane/source/docs/servo-functions.rst
Labels: plane-wiki

#2194 Re-organize Avoidance adding Object Avoidance main landing page
  common/source/docs/common-ac2_simple_geofence.rst
  common/source/docs/common-ads-b-receiver.rst
  common/source/docs/common-advanced-configuration.rst
  common/source/docs/common-archived-topics.rst
  common/source/docs/common-lightware-sf40c-objectavoidance.rst
  common/source/docs/common-object-avoidance-landing-page.rst
  common/source/docs/common-polygon_fence.rst
  common/source/docs/common-rangefinder-landingpage.rst
  common/source/docs/common-rangefinder-objectavoidance.rst
  common/source/docs/common-rangefinder-setup.rst
  common/source/docs/common-rplidar-a2.rst
  common/source/docs/common-simple-object-avoidance.rst
  common/source/docs/common-teraranger-tower-objectavoidance.rst
  copter/source/docs/copter-object-avoidance.rst
  copter/source/docs/failsafe-landing-page.rst
  copter/source/docs/polygon_fence.rst
  images/Fence_MPCh78.png
  images/Fence_MPSetup.png
  images/copter-object-avoidance-radar-view.png
  images/copter-object-avoidance-show-radar-view.png
  images/copter_polygon_circular_fence..png
  images/copter_simple_tincan_geofence.jpg
  images/polygon_add_point.png
  images/polygon_add_return_point.png
  images/polygon_fence_enable.png
  images/polygon_upload.png
  images/rover-dodge-explain.png
  rover/source/docs/rover-object-avoidance.rst
Labels: common-wiki

#2234 Add CUAV UAVCAN PM and HV PM
  common/source/docs/common-can-pmu.rst
  common/source/docs/common-hv-pm.rst
  common/source/docs/common-powermodule-landingpage.rst
  common/source/docs/common-stores.rst
  images/PowerModule_landingpage.jpg
  images/can-pmu/can-pmu-connection-en.png
  images/can-pmu/can-pmu-pinouts-en.png
  images/can-pmu/can-pmu-pinouts-en2.png
  images/can-pmu/can-pmu.jpg
  images/can-pmu/mp-set.png
  images/hv-pm.jpg
Labels: common-wiki

#2260 Expand copter tailsitter information
  plane/source/docs/guide-tailsitter.rst
  plane/source/images/plus-copter-quadplane.jpg
  plane/source/images/tailsit-motors.jpg
  plane/source/images/tri-copter-quadplane.jpg
  plane/source/images/x-copter-quadplane.jpg
Labels: plane-wiki

#2253 Make FC wiring Pixhawk agnostic,add fc i/o page
  common/source/docs/common-flight-controller-io.rst
  common/source/docs/common-flight-controller-wiring.rst
  copter/source/docs/assembly-instructions.rst
  images/fc-io.jpg
  images/gps-connection.jpg
  images/rx-connection.jpg
  images/safetysw-connection.jpg
  images/servo-motor-connection.jpg
  plane/source/docs/assembly-instructions.rst
  rover/source/docs/rover-assembly-instructions.rst
Labels: common-wiki

#2255 Add notes about supporting 10 batteries to Copter Batt FS
  copter/source/docs/failsafe-battery.rst
Labels: copter-wiki

#2238 Add additional instructions
  dev/source/docs/buildin-mission-planner.rst
Labels: dev-wiki

#2277 Expand Serial Port config page
  common/source/docs/common-advanced-configuration.rst
  common/source/docs/common-flight-controller-io.rst
  common/source/docs/common-serial-options.rst
  common/source/docs/common-telemetry-port-setup.rst
Labels: common-wiki

#2279 Add GPIO page as advanced setup
  common/source/docs/common-advanced-configuration.rst
  common/source/docs/common-flight-controller-io.rst
  common/source/docs/common-gpios.rst
Labels: common-wiki
