Repository ArduPilot/ardupilot_wiki, pull requests merged in 2020-05, with the labels that each got.

#2683 Dev: Update Cygwin install instructions
  dev/source/docs/building-setup-windows-cygwin.rst
Labels: dev-wiki

#2705 dev: add floating-point-annotation and mul-vs-div to style guide
  dev/source/docs/style-guide.rst
Labels: DevCallTopic

#2707 Update bd docs for alternate bd configs
  common/source/docs/common-holybro-kakutef7aio.rst
  common/source/docs/common-holybro-kakutef7mini.rst
  common/source/docs/common-matekf405-wing.rst
  common/source/docs/common-matekf405.rst
  common/source/docs/common-matekf765-wing.rst
  common/source/docs/common-omnibusf4pro.rst
Labels: common-wiki

#2608 Common: Added mission rewind on resume instructions
  common/source/docs/common-mavlink-mission-command-messages-mav_cmd.rst
  common/source/docs/common-mission-planning.rst
  common/source/docs/common-mission-rewind.rst
  images/mission-normal-resume-behaviour.png
  images/mission-rewind-behaviour.png
Labels: DelayMerge

#2709 Update copter loiter mode page
  copter/source/docs/loiter-mode.rst
Labels: copter-wiki

#2710 Update motor thrust scaling pages with correct params
  copter/source/docs/motor-thrust-scaling.rst
  plane/source/docs/motor-thrust-scaling.rst
Labels: copter-wiki, plane-wiki

#2711 Move copter tx tuning into common page and update references in copter
  common/source/docs/common-transmitter-tuning.rst
  common/source/docs/common-tuning.rst
  copter/source/docs/ac_rollpitchtuning.rst
  copter/source/docs/traditional-helicopter-tuning.rst
  copter/source/docs/tuning-process-instructions.rst
  copter/source/docs/tuning.rst
Labels: common-wiki, copter-wiki

#2714 Add warning note on BN-220 re time required to pass pre-arm checks
  common/source/docs/common-beitian-gps.rst
Labels: common-wiki

#2712 Update copter stabilize mode page
  common/source/docs/common-when-problems-arise.rst
  copter/source/docs/ac_rollpitchtuning.rst
  copter/source/docs/stabilize-mode.rst
Labels: copter-wiki

#2747 Update firmware loading page with STM32Cube all in one tool
  common/source/docs/common-loading-firmware-onto-chibios-only-boards.rst
  images/STM32CubeProgrammer1.jpg
  images/STM32CubeProgrammer2.jpg
Labels: common-wiki

#2750 Adding Webots SITL Simulator Doc
  dev/source/docs/simulation-2.rst
  dev/source/docs/sitl-with-webots.rst
Labels: dev-wiki

#2738 Update Mission Planner docs for SETUP menu item
  planner/source/docs/mission-planner-initial-setup.rst
Labels: planner-wiki

#2762 Add RTL_CLIMB_MIN to RTL mode page
  plane/source/docs/rtl-mode.rst
Labels: plane-wiki

#2760 Add info about GCS messages while autotuning
  copter/source/docs/autotune.rst
Labels: copter-wiki

#2754 Update and clarify UAVCAN Adpater page
  common/source/docs/common-uavcan-adapter-node.rst
Labels: common-wiki

#2666 update description for tailsitter gainscaling
  plane/source/docs/guide-tailsitter.rst
Labels: DelayMerge, plane-wiki

#2755 Add UAVCAN peripherals page
  common/source/docs/common-optional-hardware.rst
  common/source/docs/common-uavcan-peripherals.rst
Labels: common-wiki

#2767 update MAVLink2 signing information
  common/source/docs/common-MAVLink2-signing.rst
  common/source/docs/common-connect-mission-planner-autopilot.rst
  images/signing.jpg
  planner/source/docs/other-mission-planner-features.rst
Labels: common-wiki, planner-wiki

#2768 format only change : MAVLink vs other variations
  antennatracker/source/docs/how-to-operate.rst
  common/source/docs/common-3dr-radio-advanced-configuration-and-technical-information.rst
  common/source/docs/common-archived-topics.rst
  common/source/docs/common-basic-operation.rst
  common/source/docs/common-cuav-neo-v2-pro.rst
  common/source/docs/common-dragonlink-rc.rst
  common/source/docs/common-flight-controller-io.rst
  common/source/docs/common-frsky-yaapu.rst
  common/source/docs/common-geotagging-airpixel-entire.rst
  common/source/docs/common-geotagging-drotagx.rst
  common/source/docs/common-minim-osd-quick-installation-guide.rst
  common/source/docs/common-mission-rewind.rst
  common/source/docs/common-mp-tools.rst
  common/source/docs/common-slcan-f4.rst
  common/source/docs/common-slcan-f7h7.rst
  common/source/docs/common-uavcast-telemetry.rst
  common/source/docs/common-video-landingpage.rst
  common/source/docs/common-vrgimbal.rst
  copter/source/docs/follow-mode.rst
  copter/source/docs/project-news.rst
  dev/source/docs/apsync-intro.rst
  dev/source/docs/autotest-verbose.rst
  dev/source/docs/bootloader.rst
  dev/source/docs/code-overview-adding-a-new-mavlink-message.rst
  dev/source/docs/commonmission-planner-command-line-interface-cli.rst
  dev/source/docs/gsoc-ideas-list.rst
  dev/source/docs/intel-edison.rst
  dev/source/docs/making-a-mavlink-wifi-bridge-using-the-raspberry-pi.rst
  dev/source/docs/mavlink-get-set-params.rst
  dev/source/docs/mavlink-requesting-data.rst
  dev/source/docs/mission-planner-terminal.rst
  dev/source/docs/ros-apriltag-detection.rst
  dev/source/docs/ros-aruco-detection.rst
  dev/source/docs/ros-distance-sensors.rst
  dev/source/docs/ros-sitl.rst
  dev/source/docs/skyviper.rst
  dev/source/docs/the-ardupilot-autotest-framework.rst
  dev/source/docs/turnkey-companion-computer-solutions.rst
  dev/source/docs/using-gazebo-simulator-with-sitl.rst
  dev/source/docs/using-sitl-for-ardupilot-testing.rst
  dev/source/docs/using-the-command-line-interface.rst
  dev/source/docs/using-the-command-line-interpreter-to-configure-apmcopter.rst
  plane/source/docs/apms-failsafe-function.rst
  planner/source/docs/mission-planner-ground-control-station.rst
  planner2/source/docs/connect-autopilot.rst
  rover/source/docs/follow-mode.rst
  rover/source/docs/guided-mode.rst
Labels: docs
