Repository ArduPilot/ardupilot_wiki, pull requests merged in 2020-04, with the labels that each got.

#2617 Expand info on QuadPlane Transition behaviour
  plane/source/docs/quadplane-flying.rst
Labels: plane-wiki

#2622 Expand -f option notes on SITL startup pages
  dev/source/docs/copter-sitl-mavproxy-tutorial.rst
  dev/source/docs/plane-sitlmavproxy-tutorial.rst
Labels: dev-wiki

#2625 update SITL plane takeoff description
  dev/source/docs/plane-sitlmavproxy-tutorial.rst
Labels: dev-wiki

#2630 Update Mavproxy graphing section description
  dev/source/docs/using-sitl-for-ardupilot-testing.rst
Labels: dev-wiki

#2660 add note regarding shared timers for copter motors vs servos
  plane/source/docs/quadplane-tips.rst
Labels: plane-wiki

#2621 Add frame types table to SITL doc
  dev/source/docs/using-sitl-for-ardupilot-testing.rst
Labels: dev-wiki

#2636 Add tilt servo setup page; add note re: binary servo rate
  plane/source/docs/guide-tilt-rotor.rst
  plane/source/docs/tilt-rotor-tips.rst
  plane/source/images/tiltsetup.jpg
Labels: plane-wiki

#2645 Add warning about using QuadPlane assist without arspd sensor
  plane/source/docs/quadplane-flying.rst
Labels: plane-wiki

#2659 Add FPort description and setup pages
  common/source/docs/common-FPort-receivers.rst
  common/source/docs/common-advanced-configuration.rst
  common/source/docs/common-flight-controller-wiring.rst
  common/source/docs/common-pixhawk-and-px4-compatible-rc-transmitter-and-receiver-systems.rst
  common/source/docs/common-pixhawk-wiring-and-quick-start.rst
  common/source/docs/common-rssi-received-signal-strength-indication.rst
  images/FPort-wiring-a.jpg
  images/FPort-wiring-b.jpg
  images/FPort-wiring-c.jpg
Labels: DelayMerge, common-wiki

#2652 Add multiparam tune table; update cap_params.py to catch Q_ params
  common/source/docs/common-transmitter-tuning.rst
  scripts/cap_params.py
Labels: plane-wiki

#2673 Roadmap update
  dev/source/docs/roadmap.rst
Labels: WIP, WikiCall Topic

#2646 Add VTOL tuning information and pages to QuadPlane
  plane/source/docs/motor-thrust-scaling.rst
  plane/source/docs/quadplane-support.rst
  plane/source/docs/quadplane-tuning-landingpage.rst
  plane/source/docs/quadplane-vtol-tuning-process.rst
  plane/source/docs/quadplane-vtol-tuning.rst
  plane/source/images/MotThstExpo_graphs2.png
  plane/source/images/tuning-process-instructions-1.hires.png
  plane/source/images/tuning-process-instructions-2.hires.png
  plane/source/images/tuning-process-instructions-3.hires.png
  plane/source/images/tuning-process-instructions-4.hires.png
Labels: plane-wiki

#2661 Common: Give details of minimal firmware for some autopilots
  common/source/docs/common-autopilots.rst
  common/source/docs/common-holybro-kakutef7aio.rst
  common/source/docs/common-holybro-kakutef7mini.rst
  common/source/docs/common-limited-firmware.rst
  common/source/docs/common-matekf405-wing.rst
  common/source/docs/common-matekf405.rst
  common/source/docs/common-omnibusf4pro.rst
  common/source/docs/common-omnibusf7.rst
  common/source/docs/common-pixhawk-overview.rst
  common/source/docs/common-taulabs-sparky2.rst
  copter/source/index.rst
  plane/source/index.rst
  rover/source/index.rst
Labels: common-wiki
