Repository ArduPilot/ardupilot_wiki, pull requests merged in 2020-12, with the labels that each got.

#3140 Add github actions test
  .github/workflows/test.yml
Labels: enhancement, infrastructure

#3168 Add QioTek Zealot autopilot
  common/source/docs/common-autopilots.rst
  common/source/docs/common-qiotek-zealot.rst
  images/QioTek-Zealot.jpg
  images/qiotek-zealot-power-input.jpg
Labels: WIP

#3187 Update mRo Control Zero Page
  common/source/docs/common-autopilots.rst
  common/source/docs/common-mro-control-zero-F7.rst
  images/mro-ctrl-zero-f7-2T.jpg
Labels: common-wiki

#3191 Add notes to the Replay set up and use
  dev/source/docs/testing-with-replay.rst
Labels: dev-wiki

#3123 MAV_CMD_CONDITION_YAW: Enable rotation speed
  common/source/docs/common-mavlink-mission-command-messages-mav_cmd.rst
Labels: copter-wiki

#3180 Update SERIAL2_PROTOCOL value for APSync/APWeb
  dev/source/docs/apsync-intro.rst
Labels: dev-wiki

#3196 Add buttons page to wiki
  common/source/docs/common-buttons.rst
  common/source/docs/common-master-features.rst
Labels: common-wiki

#3207 dev: add a section on various design decisions made in the ArduPilot codebase
  dev/source/docs/style-guide.rst
Labels: DevCallTopic

#3223 Add note re F9P constellation setup
  common/source/docs/common-cuav-c-rtk-9p-gps.rst
  common/source/docs/common-holybro-rtk-f9p.rst
Labels: common-wiki

#3227 Add rear tilt functions to upcoming features
  common/source/docs/common-future-wiki-changes.rst
Labels: common-wiki

#3218 Notes about submodule init and VS version
  dev/source/docs/building-mission-planner.rst
Labels: planner-wiki
