Repository ArduPilot/ardupilot_wiki, pull requests merged in 2020-10, with the labels that each got.

#3052 Add notes about RAM limits
  common/source/docs/common-limited-firmware.rst
Labels: common-wiki

#3060 Add images for tilt rotor setup
  images/Bicopter-tilt-setup.jpg
  images/tailsitter-tilt-setup.jpg
  images/tiltrotor-setup.jpg
  plane/source/docs/guide-tilt-rotor.rst
  plane/source/docs/quadplane-tips.rst
Labels: plane-wiki

#3047 Plane: Add airbrake documentation.
  common/source/docs/common-future-wiki-changes.rst
  common/source/docs/common-master-features.rst
  images/thr-min-negative.jpg
  images/thr-min-positive.jpg
  plane/source/docs/airbrakes-on-plane.rst
  plane/source/docs/automatic-landing.rst
  plane/source/docs/servo-functions.rst
Labels: plane-wiki

#2963 Add mRo Nexus autopilot
  common/source/docs/common-autopilots.rst
  common/source/docs/common-mro-nexus.rst
  images/mro-nexus-bottom.png
  images/mro-nexus-top.png
Labels: common-wiki

#3058 Expand DO_CHANGE_SPEED cmd info
  common/source/docs/common-mavlink-mission-command-messages-mav_cmd.rst
Labels: plane-wiki

#3080 Update plane tuning docs with links and corrections
  plane/source/docs/roll-pitch-controller-tuning.rst
Labels: plane-wiki

#3088 Add Holybro mini carrier bd to PIX32-V5
  common/source/docs/common-holybro-pix32v5.rst
  images/holybro-pix32v5/Pix32-v5-Family.jpg
  images/holybro-pix32v5/holybro-mini-pinouts-1.png
  images/holybro-pix32v5/holybro-mini-pinouts-2.png
  images/holybro-pix32v5/holybro-mini-pinouts-3.png
  images/holybro-pix32v5/holybro-mini-pinouts-4.png
  images/holybro-pix32v5/holybro-mini-pinouts-5.png
  images/holybro-pix32v5/holybro-pix32v5.png
Labels: common-wiki

#3073 Add reverse thrust setup page
  common/source/docs/common-advanced-configuration.rst
  images/thr-min-negative-noswitch.jpg
  images/thr-min-negative.jpg
  images/thr-min-positive.jpg
  plane/source/docs/automatic-landing.rst
  plane/source/docs/reverse-thrust-setup.rst
Labels: plane-wiki

#3093 Add sink rate param to parachute
  copter/source/docs/parachute.rst
Labels: copter-wiki

#3097 expand on SmartRTL operation a bit
  copter/source/docs/smartrtl-mode.rst
Labels: copter-wiki
