Repository ArduPilot/ardupilot_wiki, pull requests merged in 2020-08, with the labels that each got.

#2944 add .dockerignore
  .dockerignore
Labels: enhancement

#2940 Add abbrevations page in appendix
  common/source/docs/common-abbreviations.rst
  common/source/docs/common-appendix.rst
Labels: common-wiki

#2964 Add section on increasing shunt PM range
  common/source/docs/common-3dr-power-module.rst
  images/current-sharing-pic.png
  images/current-sharing.jpg
Labels: common-wiki

#2966 Add Airmode upcoming feature for Plane
  common/source/docs/common-future-wiki-changes.rst
  common/source/docs/common-master-features.rst
  plane/source/docs/airmode.rst
  plane/source/docs/quadplane-flight-modes.rst
Labels: common-wiki, plane-wiki

#2962 Add mRo Pixracer Pro
  common/source/docs/common-autopilots.rst
  common/source/docs/common-pixracer-pro.rst
  images/pixracer-pro-bottom.png
  images/pixracer-pro-top.png
Labels: common-wiki

#2943 Sphinx: remove mercurial and change vimeo plugin location
  Sphinxsetup.sh
Labels: enhancement

#2975 Expand Simulation landing page explanations
  dev/source/docs/simulation-2.rst
  dev/source/images/SITL.png
Labels: dev-wiki

#2991 Add some notes on SITL page
  dev/source/docs/using-sitl-for-ardupilot-testing.rst
Labels: dev-wiki

#2990 Add caution on prop strike on TVBS and solution
  plane/source/docs/guide-tailsitter.rst
Labels: plane-wiki

#2996 add doc for EKF3 Affinity
  common/source/docs/common-apm-navigation-extended-kalman-filter-overview.rst
  dev/source/docs/ek3-affinity-lane-switching.rst
  dev/source/docs/ekf.rst
  images/airspeed_affinity.png
  images/barometer_affinity.png
  images/gps_affinity.png
  images/mag_affinity.png
Labels: common-wiki, dev-wiki
