Repository ArduPilot/ardupilot_wiki, pull requests merged in 2020-02, with the labels that each got.

#2566 add modes to BendyRuler
  common/source/docs/common-oa-bendyruler.rst
Labels: common-wiki, copter-wiki

#2502 Re-organize ESC,Dshot, and BLHeli32 into config and hardware pages
  common/source/docs/common-advanced-configuration.rst
  common/source/docs/common-blheli32-passthru.rst
  common/source/docs/common-brushless-escs.rst
  common/source/docs/common-dshot-blheli32-telemetry.rst
  common/source/docs/common-dshot.rst
  common/source/docs/common-escs-and-motors.rst
  images/hobbywing-esc.jpg
Labels: common-wiki

#2548 Wsl
  dev/source/docs/building-setup-windows10.rst
  dev/source/images/build-on-windows10-compile.jpg
  dev/source/images/build-on-windows10-configure.jpg
  dev/source/images/build-on-windows10-prereqs.png
Labels: Reviewed, dev-wiki

#2517 Add VTOL modes to command list and re-org into cmd types
  common/source/docs/common-mavlink-mission-command-messages-mav_cmd.rst
Labels: common-wiki

#2581 Add compatibility warning on MiniPix
  common/source/docs/common-radiolink-minipix.rst
Labels: common-wiki
