Repository ArduPilot/ardupilot_wiki, pull requests merged in 2020-09, with the labels that each got.

#2989 Update plane failsafe page
  plane/source/docs/apms-failsafe-function.rst
Labels: plane-wiki

#3001 Add Holybro RTK M8P gps
  common/source/docs/common-holybro-rtk-m8p.rst
  common/source/docs/common-positioning-landing-page.rst
  images/rtk_holybro_h-rtk-m8p_all_label.jpg
  images/rtk_holybro_h-rtk-m8p_pinmap.jpg
  images/rtk_holybro_h-rtk-m8p_spec.png
  images/rtk_holybro_h-rtk_mount_3.png
Labels: common-wiki

#3003 clarify gain scaling in tailstter
  plane/source/docs/guide-tailsitter.rst
Labels: plane-wiki

#2998 Add Holybro RTK F9P family gps
  common/source/docs/common-holybro-rtk-f9p.rst
  common/source/docs/common-positioning-landing-page.rst
  images/rtk_holybro_h-rtk-f9p_all_label.jpg
  images/rtk_holybro_h-rtk-f9p_pinmap.jpg
  images/rtk_holybro_h-rtk-f9p_spec.png
Labels: common-wiki

#3008 Fixed incorrect indentation
  mavproxy/source/docs/development/mavcustmod.rst
Labels: mavproxy-wiki

#3000 AP_MSP: new wiki entry for MSP support
  common/source/docs/common-msp-osd-overview.rst
  common/source/docs/common-msp-overview.rst
  images/msp_dji_fpv_goggles.jpeg
  images/msp_dji_goggles_re.jpeg
  images/msp_osd_python.png
Labels: DelayMerge, common-wiki

#2995 Rover: Update walking-robots.rst
  rover/source/docs/walking-robots.rst
  rover/source/images/Walking_robot-Anatomy.jpg
  rover/source/images/Walking_robot-front.JPG
  rover/source/images/Walking_robot-leg.JPG
  rover/source/images/Walking_robot-top_view.JPG
Labels: rover-wiki

#3025 Update tailsitter info for BiCopter
  plane/source/docs/guide-tailsitter.rst
  plane/source/docs/guide-tilt-rotor.rst
Labels: plane-wiki

#3039 Update advanced compass information
  common/source/docs/common-compass-setup-advanced.rst
  images/CompassCalibration_Onboard.png
Labels: common-wiki

#3040 Add note on SmartRTL disable
  copter/source/docs/smartrtl-mode.rst
Labels: copter-wiki

#3042 Add Matek M8Q UAVCAN GPS/MAG/BARO
  common/source/docs/common-matek-m8q.rst
  common/source/docs/common-positioning-landing-page.rst
  common/source/docs/common-uavcan-peripherals.rst
  images/M8Q-CAN-wiring.jpg
  images/M8Q-CAN_2.jpg
Labels: common-wiki

#3043 Add mRo KitCAN UAVCAN Node+Compass+Baro
  common/source/docs/common-mro-kitcan.rst
  common/source/docs/common-uavcan-peripherals.rst
  images/mro-kitcan-system.jpg
  images/mro-kitcan.png
Labels: common-wiki

#3024 Add mro UAVCAN Adapter Node page
  common/source/docs/common-mro-uavcan-adapter-node.rst
  common/source/docs/common-uavcan-adapter-node.rst
  common/source/docs/common-uavcan-peripherals.rst
Labels: common-wiki

#3021 Add mRo Location One UAVCAN page
  common/source/docs/common-mrobotics-location-one-gps.rst
  common/source/docs/common-positioning-landing-page.rst
  common/source/docs/common-uavcan-peripherals.rst
  images/mrobotics-location-one-gps.jpg
Labels: common-wiki

#3045 Add Matek ASPD-DLVR UAVCAN Airspeed/CAN node
  common/source/docs/common-matek-uavcan-dlvr.rst
  common/source/docs/common-uavcan-peripherals.rst
  images/matek-uavcan-dlvr-wiring.jpg
  images/matek-uavcan-dlvr.jpg
Labels: copter-wiki

#3046 Clarify note about FS continue modes
  copter/source/docs/gcs-failsafe.rst
  copter/source/docs/radio-failsafe.rst
Labels: copter-wiki

#3041 Add SITL parameter list page
  dev/source/docs/sitl-parameters.rst
  dev/source/docs/sitl-simulator-software-in-the-loop.rst
Labels: dev-wiki

#2978 Add Compass Less operation page
  common/source/docs/common-compassless.rst
  common/source/docs/common-master-features.rst
Labels: common-wiki
