Repository ArduPilot/ardupilot_wiki, pull requests merged in 2020-01, with the labels that each got.

#2385 Add a topic with suggestions if first time setup/flight has issue
  common/source/docs/common-when-problems-arise.rst
  copter/source/index.rst
  plane/source/index.rst
  rover/source/index.rst
Labels: common-wiki

#2384 Warn that SpeedybeeF4 operation is not verified
  common/source/docs/common-autopilots.rst
  common/source/docs/common-speedybeef4.rst
Labels: common-wiki

#2403 Expanded Motor Interlock description in Auxillary Functions page
  common/source/docs/common-auxiliary-functions.rst
Labels: WIP

#2407 Add CUAV PW-LINK telemetry page
  common/source/docs/common-cuav-pwlink.rst
  common/source/docs/common-telemetry-landingpage.rst
  images/cuav-pwlink.jpg
  images/pwlink-system.jpg
Labels: common-wiki

#2400 Clarify Linux setup to build wiki
  Sphinxsetup.sh
  common/source/docs/common-wiki-editing-setup.rst
Labels: dev-wiki

#2361 Add Plane DO_ENGINE_CONTROL and Q_LAND_ICE_CUT
  common/source/docs/common-ice.rst
  common/source/docs/common-mavlink-mission-command-messages-mav_cmd.rst
Labels: plane-wiki

#2357 Add takeoff page to plane
  plane/source/docs/first-flight-landing-page.rst
  plane/source/docs/takeoff-landingpage.rst
  plane/source/images/bungee.jpg
Labels: plane-wiki

#2406 Expand info on quadplane tricopter yaw servo and lean angle param
  plane/source/docs/guide-tilt-rotor.rst
  plane/source/docs/quadplane-frame-setup.rst
Labels: plane-wiki

#2380 Add tips about coping with DCM Pre-Arm failures in Tailsitters
  plane/source/docs/guide-tailsitter.rst
Labels: plane-wiki

#2367 Update compass calibration and setup pages
  common/source/docs/common-compass-calibration-in-mission-planner.rst
  common/source/docs/common-compass-setup-advanced.rst
Labels: common-wiki

#2434 Update Zubax GNSS2 GPS page
  common/source/docs/common-zubax-gnss-positioning-module-gps-compass-and-barometer.rst
Labels: common-wiki

#2034 Versioning for paramaters page
  .gitignore
  antennatracker/source/_static/parameters-Antennatracker.json
  antennatracker/source/_static/parameters_versioning_script.inc
  antennatracker/source/conf.py
  build_parameters.py
  copter/source/_static/parameters-Copter.json
  copter/source/_static/parameters_versioning_script.inc
  copter/source/conf.py
  plane/source/_static/parameters-Plane.json
  plane/source/_static/parameters_versioning_script.inc
  plane/source/conf.py
  rover/source/_static/parameters-Rover.json
  rover/source/_static/parameters_versioning_script.inc
  rover/source/conf.py
  update.py
  update.sh
Labels: WikiCall Topic, enhancement

#2461 Add HOTT telemetry page
  common/source/docs/common-hott-telemetry.rst
  common/source/docs/common-telemetry-landingpage.rst
  images/hott-telem-wiring.jpg
  images/mz-32.jpg
Labels: common-wiki

#2459 Add NTF config page
  common/source/docs/common-advanced-configuration.rst
  common/source/docs/common-ntf-devices.rst
  images/rgb-led.jpg
  images/ssh1106.jpg
Labels: common-wiki

#2457 Retire parameters, delinking and add new as needed
  copter/source/docs/autotune.rst
  copter/source/docs/channel-7-and-8-options.rst
  copter/source/docs/landing-gear.rst
  copter/source/docs/precision-landing-with-irlock.rst
  copter/source/docs/sprayer.rst
  rover/source/docs/learning-a-mission.rst
Labels: copter-wiki

#2456 Add new param and correct incorrect param names
  copter/source/docs/traditional-helicopter-tuning.rst
Labels: copter-wiki

#2468 update output functions list
  common/source/docs/common-rcoutput-mapping.rst
Labels: common-wiki

#2399 Update Tradheli connections page to include Motor Interlock
  copter/source/docs/traditional-helicopter-connecting-apm.rst
Labels: copter-wiki

#2471 Re-organize RC equipment pages
  common/source/docs/common-dragonlink-rc.rst
  common/source/docs/common-flight-controller-wiring.rst
  common/source/docs/common-flysky-rc.rst
  common/source/docs/common-frsky-rc.rst
  common/source/docs/common-futaba-rc.rst
  common/source/docs/common-graupner-rc.rst
  common/source/docs/common-jumperT16pro.rst
  common/source/docs/common-multiplex-rc.rst
  common/source/docs/common-optional-hardware.rst
  common/source/docs/common-rc-systems.rst
  common/source/docs/common-spektrum-rc.rst
  copter/source/index.rst
  images/FD-X9-1.jpg
  images/dragonlink.jpg
  images/jumperT16pro.jpg
  plane/source/index.rst
  rover/source/index.rst
Labels: common-wiki

#2484 Add Dragonlink to telem landing page
  common/source/docs/common-telemetry-landingpage.rst
Labels: DelayMerge, common-wiki

#2483 update brushed motor drivers list
  common/source/docs/common-brushed-motors.rst
Labels: copter-wiki
