Repository ArduPilot/ardupilot_wiki, pull requests merged in 2020-11, with the labels that each got.

#3096 Add section on using magfit utility
  common/source/docs/common-compass-setup-advanced.rst
  common/source/docs/common-magfit.rst
  images/magfit-result.png
  images/magfit.png
Labels: common-wiki

#3098 Add notes about QAUTOTUNE and AUTOTUNE for copter
  copter/source/docs/autotune.rst
  plane/source/docs/qautotune-mode.rst
  plane/source/docs/quadplane-vtol-tuning-process.rst
Labels: copter-wiki, plane-wiki

#3158 Sphinxsetup.sh: install Python
  Sphinxsetup.sh
Labels: DevCallTopic

#3156 Add updating instructions for MAVProxy
  mavproxy/source/docs/getting_started/download_and_installation.rst
Labels: mavproxy-wiki

#3178 Add notes about Copter Tailsitter frame types
  common/source/docs/common-future-wiki-changes.rst
  plane/source/docs/guide-tailsitter.rst
Labels: common-wiki

#3171 Add Bi-Dir FrSky Telem and YaapuScript to Upcoming Features
  common/source/docs/common-master-features.rst
  common/source/docs/common-yaapu-gcs.rst
  images/Horus1.png
  images/QX7example1.png
  images/X9Dexample2.png
Labels: common-wiki

#3179 Add baud rate notes to Serial Passthru
  common/source/docs/common-serial-passthrough.rst
Labels: common-wiki
