Repository ArduPilot/ardupilot_wiki, pull requests merged in 2021-06, with the labels that each got.

#3597 Add note regarding airspeed sensor use to Soaring page
  plane/source/docs/soaring-upcoming.rst
  plane/source/docs/soaring.rst
Labels: plane-wiki

#3602 plane: added a note on CRUISE mode
  plane/source/docs/cruise-mode.rst
Labels: plane-wiki

#3613 Update firmware limitations page
  common/source/docs/common-limited-firmware.rst
Labels: common-wiki

#3579 Add First Flights and Tips pages to trad heli
  copter/source/docs/traditional-helicopter-first-flight-tests.rst
  copter/source/docs/traditional-helicopter-tips.rst
  copter/source/docs/traditional-helicopters.rst
Labels: copter-wiki
