Repository ArduPilot/ardupilot_wiki, pull requests merged in 2025-07, with the labels that each got.

#6947 `wave` is a Python Standard Library module
  mavproxy/source/docs/modules/chat.rst
Labels: DelayMerge

#7001 add Rover pivot turn decel param to upcoming
  common/source/docs/common-future-wiki-changes.rst
Labels: 4.7 Wiki

#7022 Update ardupilot partner logos
  common/source/docs/common-partners.rst
  images/supporters/supporters_logo_fliight_technologies.png
  images/supporters/supporters_logo_jae.png
  images/supporters/supporters_logo_kite_aerospace.png
  images/supporters/supporters_logo_marine_drone_tech.jpg
  images/supporters/supporters_logo_xiang.png
  images/supporters/supporters_logo_zht_technology.jpg
Labels: MergeOnCIPass

#7027 Sub: Update mode params
  sub/source/docs/modes.rst
Labels: Sub
